AddDefaultCharset UTF-8
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule .* index.php [L]

php_flag magic_quotes_gpc 0
php_flag magic_quotes_runtime 0

php_value upload_max_filesize 64M
php_value post_max_size 64M
php_value client_max_body_size 64M
php_value memory_limit 64M
